@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --first-color: #0B2447;
  --second-color:#19376D;
  --third-color:#576CBC;
  --fourth-color:#A5D7E8 ;
  --fiveth-color:#fff;
  --sixth-color:#A5D7E8;
}
:root.light {
  --first-color: #fff;
  --second-color: #0B2447;
  --third-color: #A5D7E8;
  --fourth-color: #0B2447;
  --fiveth-color: #0B2447;
  --sixth-color: #A5D7E8;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
body{
  background-color: var(--first-color);
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  position: relative;
}
.mode{
  z-index: 100;
  position: fixed;
  background-color: var(--second-color);
  width: 112px;
  display: flex;
  border-radius: 20px;
  justify-content: end;
  padding: 7px;
  padding-right: 10px;
  top: 12%;
  opacity: 0.8;
  left: -12px;
}
.mode button{
  background-color: #fff ;
  padding: 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: none; */
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
  height: 100%;
}



.container .sidebar {
  margin-left: 20px;
}
@media (min-width: 1500px) {
  .container {
    width: 1400px;
  }
  
}
/* Responsive Design */
@media (max-width: 1500px) {
  .container {
    width: 1200px;
  }
  
}

@media (max-width: 1300px) {
  .container {
    width: 95%;
    padding: 0;
  }
  
}
@media (max-width: 955px) {
  .container {
    width: 100%;
    padding: 0;
    position: relative;
  }
  
}
@media (max-width: 768px) {
  .container {
    padding: 0;
    padding-top: 50px;
  }
  
}

.home{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 955px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}
.home .image {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1300px) {
  .home .image {
    justify-content: start;
  }
  
}
.home .content{
  /* margin-left: 20px; */
  
  width: 60%;
  max-width: 700px;
  color: var(--fiveth-color);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}
.home .content h1{
  margin-bottom: 20px;
  width: 400px;
}
.home .content p{
  color: var(--sixth-color);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.home .content .auto_text{
  color: var(--sixth-color) ;
}
.home .content .btns{
  display: flex; 
  justify-content: end;
}

.home .content .btns .hire{
  margin-right: 20px;
  color: var(--fourth-color);
  background-color: transparent;
  border: 2px solid var(--fourth-color);
  outline: none;
}
.home .content .btns .talk{
  margin-right: 20px;
  color: var(--first-color);
  background-color: var(--fourth-color);
  border: 2px solid transparent;
  outline: none;
}

@media (max-width: 955px) {
  .home .content{
    width: 90%;
    min-width: 80%;
    min-height: 400px !important;
    padding-left:20px ;
  }
  
  
}
@media (max-width: 768px) {
  .home .content{
    padding: 0;
    margin: 0;
  }
  .home .content .btns{
    flex-direction: column;
    align-items: center;
  }
  .home .content p{
    text-align: center;
  }
  .home .content h1.long{
    height: 350px;
  }
  .home .content .btns  button ,.home .content .btns .btn {
    margin-bottom: 20px;
    width: 80%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
  }
  .home .content .btns .btn {
    width: 80%;
    margin-bottom: 0;
  }
  
  
}
@media (max-width: 550px) {
  .home .content h1{
    margin-bottom: 20px;
    width: 300px;
  }
  
}

/* sidebar       */
.sidebar {
  width: 100px;
  background-color: var(--second-color);
  border-radius: 15px;
  padding-top:50px;
  padding-bottom:50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  
}
@media (max-width: 955px) {
  .sidebar{
    position: absolute;
    left: 90%;
  }
  
}
@media (max-width: 768px) {
  .sidebar{
    position: absolute;
    left: 80%;
  }
  
}

.sidebar .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .menu .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin for spacing between items */
  position: relative; /* Ensure positioning context for absolute title */
}

.sidebar .menu .item .icon {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  background-color: #0B2447;
  cursor: pointer; 
  transition: 0.5s;
}


.sidebar .menu .item .icon:hover {
  color: #0B2447;
  background-color: #fff;
}
.sidebar .menu .item .icon.active {
  color: #A5D7E8;
  background-color:transparent !important;
  border-color: transparent;
}

.sidebar .menu .item .title {
  transition: 0.5s;
  display: none;
  position: absolute; /* Position the title absolutely */
  top: 50%; /* Adjust top to center the title vertically */
  left: -170%; /* Position title to the right of the icon */
  white-space: nowrap; /* Prevent text wrapping */
  background-color: var(--fourth-color); /* Add background color to title */
  color: var(--first-color); /* Text color */
  padding: 5px 10px; /* Padding for better visibility */
  border-radius: 5px; /* Rounded corners */
  transform: translateY(-50%); /* Center the title vertically */
}

.sidebar .menu .item:hover .title {
  display: block; /* Show the title on hover */
}

@media (max-width: 600px) {
  .sidebar{
    position: fixed;
    background-color: var(--first-color);
    left: 0%;
    top: -30px;
    width: 100%;
    border-radius: 0;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
    margin-left:0px !important ;
    padding-right: 5px;
    padding-left: 5px;
  }
  .sidebar .menu {
    flex-direction: row;
    
  }
  .sidebar .item {
    margin-bottom: 0px !important;
    margin: 0 10px;
  }
  .sidebar .menu .item .icon {

  }
  .sidebar .menu .item:hover .title {
    display: none !important; /* Show the title on hover */
  }
}

/* start serveces */
.serv {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 40px;
  width: 80vw;
  margin-top: 50px;
 }
 .serv .box{
  background-color: var(--fiveth-color);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%) , 0 2px 4px 0 rgb(0 0 0 / 12%) ;
  counter-increment: serv;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  max-width: 400px;
  max-height:215px ;
  border-radius: 12px;

 }
 @media (max-width: 600px) {
  .serv{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .serv .box{
    max-height: 250px !important;
  }
 }

 .serv .box::before{
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--third-color);
  transition: 0.5s;
 }
 .serv .box:hover{
  transform: translateY(-10px);
 }
 .serv .box:hover::before{
  width: 100%;
 }
 .serv .box .icon{
  display: block;
  margin: 30px auto 20px;
  color: var(--first-color);
  font-size: 35px;
  text-align: center;
 }
 .serv .box h3{
  text-align: center;
  margin: 20px 0 40px;
  color: var(--first-color);
  font-size: 25px;
 }
 .serv .box .info{
  padding: 15px;
  position: relative;
  text-align: right;
  background-color: #f9f9f9;

 }
 .serv .box .info::before{
  content: '#0' counter(serv);
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  padding-right: 15px;
  font-weight: bold;
  letter-spacing: 2px;
 }
 .serv .box .info::after{
  content: '';
  content: '';
  position: absolute;
  width: 30px;
  height: calc(100% + 0.5px);
  left: 80px;
  top: 0;
  background-color: #a5a7ab;
  transform: skewX(-30deg);
 }
 .serv .box .info a{
  color: var(--second-color);
 }
 /* end serveces */

 /* skills */
 .skills-box{
  width: 80vw;
  margin-right:50px ;
  margin-top: 50px;
  margin-bottom: 50px;
 }
 .skills {
  display: grid;
  grid-template-columns: 1fr; /* Default to one column */
  gap: 20px; /* Space between items */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 
}
.skills-box h1{
  text-align: center;
  color: var(--fiveth-color);
  font-size: 35px;
  margin-top:60px ;
  margin-bottom:20px ;
}
@media (max-width: 900px) { /* For medium screens and above */
  .skills-box {
    margin-right: 0;
  }
}
@media (min-width: 600px) { /* For medium screens and above */
  .skills {
    grid-template-columns: 1fr 1fr; /* Two columns */
  }
}

.skill {
  margin-bottom: 20px;
}

.skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin: 10px 0;
  color: var(--fiveth-color);
}

.skill h3 span {
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 3px 5px;
  color: var(--fiveth-color);
  border-radius: 6px;
}

.skill .prog {
  height: 30px;
  width: 100%;
  background-color: #eee;
  position: relative;
}

.skill .prog span {
  position: absolute;
  height: 100%;
  background-color: var(--sixth-color);
  width: var(--skill-width, 0);
}
.skill[data-width="35%"] .prog span {
  width: 35%;
}

.skill[data-width="40%"] .prog span {
  width: 40%;
}

.skill[data-width="45%"] .prog span {
  width: 45%;
}

.skill[data-width="50%"] .prog span {
  width: 50%;
}

.skill[data-width="55%"] .prog span {
  width: 55%;
}

.skill[data-width="60%"] .prog span {
  width: 60%;
}

.skill[data-width="65%"] .prog span {
  width: 65%;
}

.skill[data-width="70%"] .prog span {
  width: 70%;
}

.skill[data-width="75%"] .prog span {
  width: 75%;
}

.skill[data-width="80%"] .prog span {
  width: 80%;
}

.skill[data-width="85%"] .prog span {
  width: 85%;
}

.skill[data-width="90%"] .prog span {
  width: 90%;
}

.skill[data-width="95%"] .prog span {
  width: 95%;
}

 /* contact  */
form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--fiveth-color);
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background-color: #b4ddea5a!important;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  
}
form textarea{
  height: 120px !important;
  width: 100% !important;

}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: var(--sixth-color);
  outline: none;
}

.username input,
.email input,
.subject input,
.message textarea {
  background: #f9f9f9;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--fourth-color) !important;
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.logos a{
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos a:hover{
  opacity: 0.8;
}
.logos a img{
  width: 100%;
}
/* start project */
 .main-head ul{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
 }
 
 .main-head ul li{
  padding: 5px 10px;
  border-radius: 4px;
  color: var(--fiveth-color);
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
 }
 .main-head ul li:hover ,  .main-head ul li.active{
  background-color: var(--fiveth-color);
  color: var(--first-color);
  border-color: var(--fiveth-color);
 }
 @media (max-width: 768px) {
  .main-head ul{
    width: 100%;
  }
  .main-head ul li{
    margin-bottom: 5px;
  }
 }
 .projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 40px;
}
.projects .box{
  box-shadow: 0 2px 15px #819da7aa ;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.5s , box-shadow 0.5s;
}
.projects .box:hover{
  transform: translateY(-10px);
  box-shadow: 0 2px 15px var(--sixth-color) ;
}
.projects .box:hover .info .icon{
  animation: movied 0.9s linear infinite;
}
@keyframes movied {
  0% , 20%,50% ,100%{
    transform: translateX(0);
  }
  40% ,80%{
    transform: translateX(10px);  
  }
}
.projects .box img{
  width: 100%;
  max-width: 100%;
  height: 180px;
}
.projects .box .text{
  padding: 20px;
}
.projects .box .text h3{
  margin: 0;
}
.projects .box .text p{
  margin: 10px 0 0 0;
  line-height: 1.6;
  color: #777;
}
.projects .box .info{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid #e6e6e7;
  align-items: center;
  color: #0B2447;
  cursor: pointer;
}
.projects .box .info a{
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
}
.projects .box .info a .icons{
  margin-right: 5px;
}
.projects .box .info i{
  color: var(--main-color);
}